.messages{
    padding: 5%;
    text-align: center;
    height: 67vh;
}
.actived{
    padding: 5%;
    text-align: center;
    height: 43vh;
}
.normalsms{
    margin-left: 15%;
}
.activesms{
    margin-left: 15%;
    color: skyblue;
    text-decoration: underline;
}