@import "./variables";

.header-container {
  position: sticky;
  top: 0%;
  height: 5%;
  .header-card {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    background-color: $light;
  }
  .notification-img {
    width: 35px;
    height: 35px;
    background-color: $orange;
    border-radius: 100%;
    padding: 7px;
    margin-right: 1%;
  }
  .name {
    margin-top: 1px;
    background-color: $orange;
    border-radius: 100%;
    padding: 4px;
  }
}
