.calendar-card {
  background-color: white;
  width: 22%;
  height: 209px;
  margin-left: 3%;
}

p.dotted {
  border-style: dotted;
  color: lightgreen;
  margin-left: 7%;
  height: 46px;
  width: 83%;
}
