@import "./variables";

.request-container {
  margin-top: 2%;
  background-color: $background;
  padding: 1%;
  .request-button-container {
    background-color: $light;
    padding: 1%;
    text-align: end;
    .request-button {
      background-color: $green;
      border: none;
      padding: 10px;
      border-radius: 8px;
      color: $light;
    }
  }
  .request-body-container {
    margin-top: 2%;
    background-color: $light;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    .oops-image {
      width: 30%;
      background-color: $background;
      border-radius: 30%;
    }
  }
}
