.modal-value {
  width: 664px !important;
  margin-left: -14% !important;
}

.card-data-value {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 96%;
  background-color: white;
  border-radius: 5px;
  margin-left: 3%;
  margin-top: 2%;
  height: 50px;
}

.card-custom {
  width: 94%;
  height: 54px;
  //   margin-top: 2%;
  margin-left: 3%;
}
