@import "./variables";

.main-container {
  width: 100%;
  background: $ash;
  .sites-header-container {
    box-shadow: 2px 1px #adb5bd;
    background: white;
    position: sticky;
    top: 50px;
  }
  .sites-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: -6%;
    margin-left: 1%;
    .sites-heading {
      font-size: 1.125rem;
      font-weight: 500;
    }
    .sites-options {
      font-weight: 500;
      font-size: 0.875rem;
      margin-top: 0.25rem;
    }
  }
  .sites-dropdown {
    background: white;
    border: none;
    margin-top: -1%;
    font-weight: 500;
    font-size: 0.875rem;
  }
  .dropdown-toggle::after {
    color: "green" !important;
  }

  .sites-body {
    padding-left: 5%;
    margin-top: 3%;
    .funnel-text {
      font-weight: 400;
      font-size: 20px;
      // margin-top: 2%;
    }
  }
  .sites-body-option {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4.5%;
  }
  .sites-body-option-searchbtn {
    width: 27%;
    background: $light;
    border-radius: 5px;
    margin-right: 7px;
    display: flex;
  }
  .sites-body-inner-searchbtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    padding: 1.5%;
  }
  .sites-body-searchbtn-img {
    width: 7%;
    // margin-top: 1%;
  }
  .sites-body-searchbtn-p {
    color: $gray;
    margin-left: 5%;
    margin-bottom: auto;
    // margin-top: 1%;
  }
  .sites-body-createfolderbtn {
    width: 18%;
    background: $light;
    border-radius: 5px;
    margin-right: 7px;
    padding: 0px;
    border-color: $blue;
    display: flex;
  }
  .sites-body-inner-createfolderbtn {
    display: flex;
    align-items: center;
    padding: 1.5%;
  }
  .sites-body-inner-createfolderbtn-img {
    width: 11%;
    margin-left: 5%;
    margin-top: 1%;
  }
  .sites-body-inner-createfolderbtn-p {
    color: $gray;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: auto;
  }
  .sites-body-newfunnel {
    width: 12%;
    background: $green;
    border-radius: 5px;
    margin-right: 7px;
    border: none;
    display: flex;
    justify-content: space-around;
  }
  .sites-body-inner-newfunnel {
    display: flex;
    align-items: center;
    padding: 1.5%;
  }
  .sites-body-inner-newfunnel-img {
    width: 8%;
    margin-left: 5%;
    margin-top: 3%;
  }
  .sites-body-inner-newfunnel-p {
    color: $light;
    margin-bottom: auto;
    margin-left: 10%;
    margin-top: 1%;
  }
  .sites-body-card {
    margin-top: 2%;
    width: 95%;
  }
  .sites-body-main {
    display: flex;
  }
  .sites-body-sec {
    display: flex;
  }
  .sites-body-funnel-img {
    width: 5.5%;
    height: 45%;
    margin-top: 4%;
    margin-left: 3%;
  }
  .sites-body-funnel-text {
    margin-top: 4%;
    margin-left: 3%;
  }
  .sites-body-versionbtn {
    margin-left: 3%;
    color: $purple;
    margin-top: 3%;
    height: 62%;
    border: none;
  }
  .sites-body-third {
    display: flex;
    justify-content: flex-end;
  }
  .sites-body-card-testbtn {
    border: none;
    border-radius: 45%;
    height: 48%;
    width: 9%;
    margin-top: 2.5%;
    background: $lightgreen;
  }
  .sites-body-card-inner-testbtn {
    display: flex;
    justify-content: space-around;
  }
  .sites-body-card-spanner-img {
    width: 28%;
    height: 3%;
    margin-top: 10%;
  }
  //   .sites-body-card-test-p {
  //     margin-top: 9%;
  //   }
  .sites-body-card-paratag {
    margin-top: 2.5%;
    margin-left: 3%;
  }
  .sites-body-card-plus-img {
    width: 2.5%;
    height: 22%;
    margin-top: 3.5%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .sites-body-card-live-img {
    width: 25%;
    height: 46%;
    margin-top: 13%;
  }
  .sites-card-page {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 4.5%;
  }
  .sites-card-page-btn {
    display: flex;
  }
  .sites-card-page-previous-btn {
    margin-right: 8%;
    border: none;
    height: 72%;
  }
  .sites-card-page-next-btn {
    margin-right: 4%;
    border: none;
    margin-left: -4%;
    height: 72%;
  }
}
.website-main-container {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 3%;
  margin-top: 2%;
  .website-main-para {
    font-size: 24px;
  }
  .website-body {
    display: flex;
    justify-content: flex-end;
    .website-searchbtn {
      width: 25%;
      height: 40px;
      margin-right: 1%;
      border-color: gray;
      background: $light;
      border-radius: 5px;
      .website-inner-searchbtn {
        display: flex;
        // align-items: center;
        .website-search-img {
          width: 7%;
          height: 2%;
          margin-left: 2%;
          margin-top: 2%;
        }
        .website-search-p {
          margin-top: 1%;
          margin-left: 5%;
        }
      }
    }
  }
  .website-Createfolderbtn {
    width: 15%;
    height: 40px;
    margin-right: 1%;
    background: $ash;
    border-color: $blue;
    border-radius: 5px;
    .website-inner-Createfolderbtn {
      display: flex;
      // align-items: center;

      .website-Createfolderbtn-img {
        width: 16%;
        height: 1%;
        margin-top: 2%;
      }
      .website-Createfolderbtn-p {
        margin-top: 2%;
        margin-left: 5%;
      }
    }
  }
  .website-NewWebsitesbtn {
    width: 15%;
    height: 40px;
    background: $green;
    color: $light;
    border: none;
    border-radius: 5px;
    .website-inner-NewWebsitesbtn {
      display: flex;
      // align-items: center;

      .website-NewWebsitesbtn-img {
        width: 9%;
        height: 2%;
        margin-top: 6%;
      }
      .website-NewWebsitesbtn-p {
        margin-top: 2%;
        margin-left: 5%;
      }
    }
  }
  .website-card {
    margin-top: 1%;
    .website-inner-card {
      background: $light;
      display: flex;
      flex-direction: column;
      align-items: center;
      .emptybox-img {
        width: 10%;
      }
    }
  }
}
// -------------------------------
.blog-main-container {
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  // height: 100vh;
  // overflow: auto;
  .blog-card {
    display: flex;
    flex-direction: column;
    background: $light;
    align-items: center;
    padding-bottom: 5%;
    .blog-card-setup-p {
      font-weight: 500;
      font-size: 1.5rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
    .blog-heading-img-p {
      display: flex;
      justify-content: center;
      margin-right: 10%;

      .blog-tick-img {
        width: 4%;
        height: 1%;
      }
      .blog-tick-p {
        margin-left: 2%;
        letter-spacing: 0.025em;
        font-size: 0.875rem;
        font-weight: 500;
        padding-bottom: 0.5rem;
        color: blue;
      }
    }
    .blog-post-list-p {
      width: 36%;
      // font-weight: 500;
      // font-size: 12px;
    }
    .blog-Weblayout-img {
      width: 36%;
      margin-bottom: 3%;
    }
    .blog-start-heading-img-p {
      margin-left: 20%;
    }
  }
  .create-blog-btn {
    width: 22%;
    margin-right: 11%;
    margin-top: 1%;
    border: none;
    color: $light;
    background: $green;
    border-radius: 5px;

    .create-blog-btn-div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .blog-plus-img {
        width: 8%;
        height: 1%;
      }
      .blog-plus-btn-p {
        margin-top: 5%;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
// ---------------------------

.wordpress-card {
  // padding-top: 1%;
  // padding-left: 5%;
  // padding-right: 5%;
  // padding-bottom: 5%;
  padding: 1% 5% 5% 5%;
  .wordpress-card-body {
    background: $light;
    .wordpress-img-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wordpress-pitch-img {
        width: 80%;
      }
      .wordpress-btn {
        width: 25%;
        height: 52px;
        // font-size: 1.2rem;
        cursor: pointer;
        // color: #fff;
        display: block;
        margin: 0;

        border: none;
        color: $light;
        background: $green;
        border-radius: 5px;
        // .wordpress-btn-holder {
        // }
      }
    }
  }
}
// --------------------------
.dashboardmember-card {
  padding: 0% 2% 5% 2%;
  // .dashboard-spinner{}
  .dashboardmember-card-body {
    .dashboardmember-img-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      .dashboardmember-dashboardbanner-img {
        border-radius: 0.5rem;
        width: 100%;
        height: 350px;
        // position: relative;
      }
      .dashboardmember-dashboardbanner-p {
        position: absolute;
        letter-spacing: 0.05em;
        font-size: 3rem;
        text-align: center;
        color: $light;
        font-weight: 700;
      }
    }
    .dashboardmember-gird {
      display: flex;
      justify-content: space-around;
      padding-top: 2%;
      flex-wrap: wrap;
      .dashboardmember-gird-col-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: inherit;
        width: 30%;
        background: $light;
        margin-left: 15%;
        border-radius: 5px;
        border-color: #e2e8f0;
        margin-bottom: 5%;
        .dashboardmember-gird-col-1-text {
          margin-top: 2%;
        }
        .dashboardmember-gird-col-img-holder {
          .dashboardmember-gird-col-1-email-img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
      .dashboardmember-gird-col-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: inherit;
        width: 30%;
        background: $light;
        margin-right: 15%;
        border-radius: 5px;
        border-color: #e2e8f0;
        margin-bottom: 5%;
        .dashboardmember-gird-col-img-holder {
          .dashboardmember-gird-col-1-email-img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }
}
// ---------------------------------

.productmembership-main-container {
  margin-top: 4%;
  background: $ash;
  padding: 3%;

  .productmembership-card {
    display: flex;
    justify-content: space-between;
    .productmembership-text-holder {
      .productmembership-text-yourproduct {
        font-weight: 600;
        color: $lightgray;
        font-size: 1.5rem;
      }
    }
    .productmembership-createproduct-btn {
      width: 14%;
      height: 34px;
      border: none;
      background: $lightblue;
      border-radius: 5px;
      color: $light;
      .productmembership-createproductbtn-holder {
        display: flex;
        justify-content: space-evenly;
        // align-items: center;
        .productmembership-plus-img {
          width: 8%;
          height: 1%;
          margin-top: 7%;
        }
        .productmembership-btn-text {
          margin-top: 2%;
        }
      }
    }
  }
  .productmembership-getstarted-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: $lightgray;
    margin-top: 2%;
  }
}

// ------------------------------------------

.offersmembership-main-container {
  margin-top: 4%;
  background: $ash;
  padding: 3%;

  .offersmembership-card {
    display: flex;
    justify-content: space-between;
    .offersmembership-text-holder {
      .offersmembership-text-yourproduct {
        font-weight: 600;
        color: $lightgray;
        font-size: 1.5rem;
      }
    }
    .offersmembership-createproduct-btn {
      width: 14%;
      height: 34px;
      border: none;
      background: $lightblue;
      border-radius: 5px;
      color: $light;
      .offersmembership-createproductbtn-holder {
        display: flex;
        justify-content: space-evenly;
        .offersmembership-plus-img {
          width: 8%;
          height: 1%;
          margin-top: 7%;
        }
        .offersmembership-btn-text {
          margin-top: 2%;
        }
      }
    }
  }
  .offersmembership-cards-body {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    .offersmembership-main-card {
      background: $light;
      width: 30%;
      .offersmembership-cards-body-holder {
        display: flex;

        // padding: 1%;
        // align-items: center;
        .offersmembership-cards-img-holder {
          width: 15%;
          height: 60px;
          margin-top: 6%;
          margin-bottom: 3%;
          margin-left: 6%;
          background: $lightblue;
          border-radius: 5px;
          .offersmembership-cards-img {
            width: 87%;
            height: 47%;
            margin-left: 5%;
            margin-top: 24%;
          }
        }
        .offersmembership-cards-text-holder {
          margin-left: 5%;
          margin-top: 3%;
          .offersmembership-card-text-p {
            margin-top: 17%;
            color: $lightgray;
            font-size: 1rem;
          }
        }
      }
      .offersmembership-cards-text-lastseen {
        margin-left: 6%;
        color: $lightgray;
        font-size: 0.75rem;
        font-weight: 500;
      }
      .offersmembership-div {
        background: $bluegray;
        height: 30px;
      }
    }
  }
  .offersmembership-table-main {
    background: $light;
    padding: 4%;
    margin-top: 3%;
    .offersmembership-table-nav {
      display: flex;
      .offersmembership-table-published-nav {
        margin-right: 4%;
      }
    }
    .offersmembership-table-div {
      margin-left: 5%;
      color: $lightgray;
      background: $ash;

      .offersmembership-heading {
        color: $lightgray;
        font-size: 14px;
      }
    }
  }
}
// ------------------------------------
.Analyticsmembership-main-container {
  margin-top: 1%;
  padding: 3%;
  padding-bottom: 5%;
  .Analyticsmembership-analytics-p-holder {
    .Analyticsmembership-analytics-p {
      font-size: 1.5rem;
      color: $lightgray;
      font-weight: 600;
    }
  }
  .Analyticsmembership-main-card-holder {
    display: flex;
    background: $light;
    justify-content: space-evenly;
    padding-bottom: 5%;
    .Analyticsmembership-main-card {
      margin-top: 3%;
      cursor: pointer;
      border-width: 1px;
      width: 45%;
      // height: 6rem;
      border-radius: 0.25rem;
      border: 1px solid $blackgray;
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%);
      .Analyticsmembership-card-1 {
        display: flex;
        align-items: center;
        .Analyticsmembership-barchart-holder {
          border-radius: 5px;
          border: 1px solid black;
          height: 30px;
          padding-left: 0.45rem;
          margin-left: 3%;
          width: 5.5%;
          margin-top: 2%;
          .Analyticsmembership-barchart {
            margin-left: -10%;
          }
        }
        .Analyticsmembership-card-p-holder {
          margin-left: 5%;
          margin-top: 4%;
          .Analyticsmembership-card-text-1 {
            font-weight: 600;
            color: $lightblack;
            font-size: 14px;
          }
          .Analyticsmembership-card-text-2 {
            color: #718096;
            margin-top: -5%;
          }
        }
      }
      .Analyticsmembership-view-text-holder {
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $blackgray;

        .Analyticsmembership-view-text {
          color: $lightblue;
          margin-top: 2%;
          margin-right: 2%;
        }
      }
    }
  }
}
// ----------------------------
.settingsmembership-main-container {
  margin-top: 4%;
  padding: 0% 2% 2% 2%;
  .settingsmembership-settings-text-holder {
    .settingsmembership-settings-text {
      font-size: 1.5rem;
      color: $lightgray;
      font-weight: 600;
    }
  }
  .settingsmembership-main-card-holder {
    display: flex;
    flex-wrap: wrap;
    background: $light;
    padding: 2%;
    margin-top: 4%;
    justify-content: space-between;
    .settingsmembership-card-holder {
      width: 27.33%;
      cursor: pointer;

      .settingsmembership-card {
        display: flex;
        // border: 1px solid black;
        align-items: center;
        .settingsmembership-card-img-holder {
          width: 20%;
          background: $ash;
          height: 3.5rem;
          border-radius: 8px;
          .settingsmembership-card-img {
            // width: 100%;
            height: 1.5rem;
            margin-top: 26%;
            margin-left: 30%;
          }
        }
        .settingsmembership-card-text-holder {
          width: 17rem;
          margin-left: 5%;
          .settingsmembership-card-details-p {
            font-weight: 600;
            color: $blacksgray;
            font-size: 14px;
            margin-top: 22%;
          }
          .settingsmembership-card-p {
            color: #718096;
            font-weight: 400;
            font-size: 14px;
            margin-top: -3%;
          }
        }
      }
    }
  }
}
// --------------------------buildersurvey-----------------
.buildersurvey-main-container {
  margin-top: 8%;
  padding-bottom: 20%;
  .buildersurvey-body {
    display: flex;
    justify-content: space-between;
    .buildersurvey-builder-text {
      font-size: 1.25rem;
      color: #2a3135;
      padding-left: 2%;
      font-weight: 400;
    }
    .buildersurvey-btn {
      font-size: 0.875rem;
      border-radius: 0.3125rem;
      border: none;
      background-color: #37ca37;
      color: $light;
      cursor: pointer;
      font-weight: 700;
      margin-right: 2%;
    }
  }
  .buildersurvey-text-holder {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    .buildersurvey-survey-p {
      color: #607179 !important;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}
// -------------------------------Analyze survey-------------------------------
.analyzesurvey-main-container {
  margin-top: 8%;
  padding-bottom: 20%;
  .analyzesurvey-body {
    display: flex;
    justify-content: space-between;
    .analyzesurvey-builder-text {
      font-size: 1.25rem;
      color: #2a3135;
      padding-left: 2%;
      font-weight: 400;
    }
    .analyzesurvey-calendar-main-holder {
      display: flex;
      // background: $light;
      // margin-right: 5%;
      .analyzesurvey-calendar-img-holder {
        // height: 2.5rem;
        // background: $light;
        margin-top: 3.5%;
        margin-left: 5%;
        .analyzesurvey-calendar-img {
        }
      }
      .analyzesurvey-calendar-input-holder {
        .analyzesurvey-calendar-input {
          border: none;
          color: #607179 !important;
          // height: 1rem;
          margin-top: 0.75rem;
          margin-left: 1rem;
        }
      }
      .analyzesurvey-calendar-input-holder::placeholder {
        color: #6c757d !important;
        font-size: 0.85rem;
      }
      .analyzesurvey-btn {
        font-size: 0.875rem;
        border-radius: 0.3125rem;
        border: none;
        background-color: $lightblue;
        color: $light;
        cursor: pointer;
        font-weight: 700;
        margin-right: 2%;
        width: 2.5rem;
        .analyzesurvey-refresh-img {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
  .analyzesurvey-text-holder {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    .analyzesurvey-survey-p {
      color: #607179 !important;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}
// -------------------------------------submission survey--------------------
.submissionsurvey-main-container {
  margin-top: 8%;
  padding-bottom: 20%;
  .submissionsurvey-body {
    display: flex;
    justify-content: space-between;
    .submissionsurvey-builder-text {
      font-size: 1.25rem;
      color: #2a3135;
      padding-left: 2%;
      font-weight: 400;
    }
    .submissionsurvey-calendar-main-holder {
      display: flex;
      // background: $light;
      // margin-right: 5%;
      .submissionsurvey-calendar-img-holder {
        // height: 2.5rem;
        // background: $light;
        margin-top: 3.5%;
        margin-left: 5%;
        .submissionsurvey-calendar-img {
        }
      }
      .submissionsurvey-calendar-input-holder {
        .submissionsurvey-calendar-input {
          border: none;
          color: #607179 !important;
          // height: 1rem;
          margin-top: 0.75rem;
          margin-left: 1rem;
        }
      }
      .submissionsurvey-calendar-input-holder::placeholder {
        color: #6c757d !important;
        font-size: 0.85rem;
      }
      .submissionsurvey-btn {
        font-size: 0.875rem;
        border-radius: 0.3125rem;
        border: none;
        background-color: $lightblue;
        color: $light;
        cursor: pointer;
        font-weight: 700;
        margin-right: 2%;
        width: 2.5rem;
        .submissionsurvey-refresh-img {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
  .submissionsurvey-text-holder {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    .submissionsurvey-survey-p {
      color: #607179 !important;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}
// ---------------------------------------Analyze form----------------------------
.analyzeform-main-container {
  margin-top: 8%;
  padding-bottom: 20%;
  .analyzeform-body {
    display: flex;
    justify-content: space-between;
    .analyzeform-builder-text {
      font-size: 1.25rem;
      color: #2a3135;
      padding-left: 2%;
      font-weight: 400;
    }
    .analyzeform-calendar-main-holder {
      display: flex;
      // background: $light;
      // margin-right: 5%;
      .analyzeform-calendar-img-holder {
        // height: 2.5rem;
        // background: $light;
        margin-top: 3.5%;
        margin-left: 5%;
        .analyzeform-calendar-img {
        }
      }
      .analyzeform-calendar-input-holder {
        .analyzeform-calendar-input {
          border: none;
          color: #607179 !important;
          // height: 1rem;
          margin-top: 0.75rem;
          margin-left: 1rem;
        }
      }
      .analyzeform-calendar-input-holder::placeholder {
        color: #6c757d !important;
        font-size: 0.85rem;
      }
      .analyzeform-btn {
        font-size: 0.875rem;
        border-radius: 0.3125rem;
        border: none;
        background-color: $lightblue;
        color: $light;
        cursor: pointer;
        font-weight: 700;
        margin-right: 2%;
        width: 2.5rem;
        .analyzeform-refresh-img {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
  .analyzeform-text-holder {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    .analyzeform-survey-p {
      color: #607179 !important;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}
// -----------------------------------Submission form---------------------------------
.submissionform-main-container {
  margin-top: 8%;
  padding-bottom: 20%;
  .submissionform-body {
    display: flex;
    justify-content: space-between;
    .submissionform-builder-text {
      font-size: 1.25rem;
      color: #2a3135;
      padding-left: 2%;
      font-weight: 400;
    }
    .submissionform-calendar-main-holder {
      display: flex;
      // background: $light;
      // margin-right: 5%;
      .submissionform-calendar-img-holder {
        // height: 2.5rem;
        // background: $light;
        margin-top: 3.5%;
        margin-left: 5%;
        .submissionform-calendar-img {
        }
      }
      .submissionform-calendar-input-holder {
        .submissionform-calendar-input {
          border: none;
          color: #607179 !important;
          // height: 1rem;
          margin-top: 0.75rem;
          margin-left: 1rem;
        }
      }
      .submissionform-calendar-input-holder::placeholder {
        color: #6c757d !important;
        font-size: 0.85rem;
      }
      .submissionform-btn {
        font-size: 0.875rem;
        border-radius: 0.3125rem;
        border: none;
        background-color: $lightblue;
        color: $light;
        cursor: pointer;
        font-weight: 700;
        margin-right: 2%;
        width: 2.5rem;
        .submissionform-refresh-img {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
  .submissionform-card-body {
    display: flex;
    .submissionform-left {
      width: 30%;
      padding: 1.5rem;
      .submissionform-select {
        // width: 20rem;
        width: 100%;
        border: none;
        height: 2.5rem;
        border-radius: 5px;
      }
    }
    .submissionform-right {
      width: 70%;
    }
  }
}
// ------------------------------Builder form--------------------------

.buildeform-main-container {
  margin-top: 4%;
  background: $light;
  padding: 3%;
  height: 81vh;
  overflow: auto;
  .builderform-header {
    display: flex;
    justify-content: space-between;
    .builderform-header-left {
      .builderform-header-left-h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #2a3135;
      }
      .builderform-header-left-lable {
        .builderform-header-left-p {
          color: #607179;
          font-size: 0.75rem;
        }
      }
    }
    .builderform-header-right {
      display: flex;
      margin: 20px;
      justify-content: flex-end;
      .builderform-header-right-p {
        color: #607179 !important;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.8;
        padding-top: 0.29rem;
      }
      .builderform-right-getcode-btn {
        margin-left: 20px;
        font-weight: 500;
        border: 2px solid $lightblue;
        border-radius: 0.25rem;
        align-items: center;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        cursor: pointer;
        background-color: $light;
        color: $lightblue;
      }
      .builderform-right-save-btn {
        cursor: pointer;
        background: $green;
        border: none;
        border-radius: 0.25rem;
        color: $light;
        margin-left: 20px;
        font-weight: 500;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
      }
    }
  }
  .builderform-accordion-holder {
    margin-top: 2%;
    .builderform-accordion {
      .builderform-accordion-item {
        .builderform-accordion-header {
          font-weight: 700;
          margin-left: 25px;
          font-size: 16px;
          color: $lightblue;
        }
        .builderform-accordion-body {
          .builderform-left-accordion {
            width: 50%;
            padding: 2rem;
            .builderform-input-container {
              // position: relative;
              .builderform-input {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 24px;
                // position: relative;
                .builderform-input-lable {
                  font-weight: 700;
                  font-size: 14px;
                  margin-right: 20px;
                  width: 30%;
                  color: #607179;
                }
                .builderform-input-box {
                  // line-height: 0% !important;
                  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
                  font-size: 0.875rem;
                  line-height: 1.25rem;
                  border-radius: 0.375rem;
                  display: block;
                  height: 2.75rem;
                  width: 70%;
                }
              }
            }
          }
          .builderform-right-accordion {
            background: $ash;
            width: 40%;
            padding: 3% 5% 0% 5%;
            border-radius: 10px;
            margin-top: 1.5rem;
            .builderform-right-body {
              background: $light;
              height: 20rem;
              border-radius: 5px;
              .bilderform-right-p-holder {
                display: flex;
                justify-content: center;
                background: $blue;
                color: $light;
                border-radius: 5px;
                .bilderform-right-p {
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  .builderform-footer-right {
    display: flex;
    margin: 20px;
    justify-content: flex-end;
    .builderform-footer-right-p {
      color: #607179 !important;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.8;
      padding-top: 0.29rem;
    }
    .builderform-footer-getcode-btn {
      margin-left: 20px;
      font-weight: 500;
      border: 2px solid $lightblue;
      border-radius: 0.25rem;
      align-items: center;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      cursor: pointer;
      background-color: $light;
      color: $lightblue;
    }
    .builderform-footer-save-btn {
      cursor: pointer;
      background: $green;
      border: none;
      border-radius: 0.25rem;
      color: $light;
      margin-left: 20px;
      font-weight: 500;
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }
}
