@import "./variables";

.main-container {
  width: 100%;
  background: #f0f5fc;
  margin-top: 4%;
  .sites-header-container{
    box-shadow: 2px 1px #adb5bd;
    background: white;
  }
  .sites-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    .sites-heading{
      font-size: 18px;
      font-weight: bold;
    }
  }
  .sites-dropdown {
    background: white;
    border: none;
    margin-top: -4%;
  }
  .dropdown-toggle::after {
    color: "green" !important;
  }

  .sites-body {
    padding-left: 5%;
  }
  .sites-body-option {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4.5%;
  }
  .sites-body-option-searchbtn {
    width: 27%;
    background: white;
    border-radius: 5px;
    margin-right: 7px;
    display: flex;
  }
  .sites-body-inner-searchbtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
    padding: 1.5%;
  }
  .sites-body-searchbtn-img {
    width: 7%;
    // margin-top: 1%;
  }
  .sites-body-searchbtn-p {
    color: gray;
    margin-left: 5%;
    margin-bottom: auto;
    // margin-top: 1%;
  }
  .sites-body-createfolderbtn {
    width: 18%;
    background: white;
    border-radius: 5px;
    margin-right: 7px;
    padding: 0px;
    border-color: blue;
    display: flex;
  }
  .sites-body-inner-createfolderbtn {
    display: flex;
    align-items: center;
    padding: 1.5%;
  }
  .sites-body-inner-createfolderbtn-img {
    width: 11%;
    margin-left: 5%;
    margin-top: 1%;
  }
  .sites-body-inner-createfolderbtn-p {
    color: gray;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: auto;
  }
  .sites-body-newfunnel {
    width: 12%;
    background: green;
    border-radius: 5px;
    margin-right: 7px;
    border: none;
    display: flex;
    justify-content: space-around;
  }
  .sites-body-inner-newfunnel {
    display: flex;
    align-items: center;
    padding: 1.5%;
  }
  .sites-body-inner-newfunnel-img {
    width: 8%;
    margin-left: 5%;
    margin-top: 3%;
  }
  .sites-body-inner-newfunnel-p {
    color: white;
    margin-bottom: auto;
    margin-left: 10%;
    margin-top: 1%;
  }
  .sites-body-card {
    margin-top: 2%;
    width: 95%;
  }
  .sites-body-main {
    display: flex;
  }
  .sites-body-sec {
    display: flex;
  }
  .sites-body-funnel-img {
    width: 5.5%;
    height: 45%;
    margin-top: 4%;
    margin-left: 3%;
  }
  .sites-body-funnel-text {
    margin-top: 4%;
    margin-left: 3%;
  }
  .sites-body-versionbtn {
    margin-left: 3%;
    color: purple;
    margin-top: 3%;
    height: 62%;
    border: none;
  }
  .sites-body-third {
    display: flex;
    justify-content: flex-end;
  }
  .sites-body-card-testbtn {
    border: none;
    border-radius: 45%;
    height: 48%;
    width: 9%;
    margin-top: 2.5%;
    background: #84f084;
  }
  .sites-body-card-inner-testbtn {
    display: flex;
    justify-content: space-around;
  }
  .sites-body-card-spanner-img {
    width: 28%;
    height: 3%;
    margin-top: 10%;
  }
  //   .sites-body-card-test-p {
  //     margin-top: 9%;
  //   }
  .sites-body-card-paratag {
    margin-top: 2.5%;
    margin-left: 3%;
  }
  .sites-body-card-plus-img {
    width: 2.5%;
    height: 22%;
    margin-top: 3.5%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .sites-body-card-live-img {
    width: 25%;
    height: 46%;
    margin-top: 13%;
  }
  .sites-card-page {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 4.5%;
  }
  .sites-card-page-btn {
    display: flex;
  }
  .sites-card-page-previous-btn {
    margin-right: 8%;
    border: none;
    height: 72%;
  }
  .sites-card-page-next-btn {
    margin-right: 4%;
    border: none;
    margin-left: -4%;
    height: 72%;
  }
}
