$ash: #f0f5fc;
$dark: #18171d;
$light: #ffffff;
$orange: #dd9518;
$gray: #808080;
$bluegray: #edf2f7;
$lightgray: #4a5568;
$blue: #0000ff;
$lightblue: #2d8cf0;
$green: #05a605;
$purple: #a020f0;
$lightgreen: #84f084;
$blackgray: #e2e8f0;
$lightblack: #1a202c;
$blacksgray: #2d3748;
