@import "./variables";

.main-dashboard-container {
  padding: 15px;
  overflow: auto;
  background-color: $background;
  padding-top: 15px;
  .firstrow-card-container {
    display: flex;
    justify-content: space-between;
    .firstrow-card-content {
      width: 32.5%;
      background-color: $light;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
      .firstrow-card-content-inside {
        display: flex;
        justify-content: space-around;
        .date {
          color: blue;
          cursor: pointer;
        }
      }
      .underline {
        border: 1px solid $background;
      }
      .centertext {
        text-align: center;
        font-size: 50px;
        font-weight: 200;
        margin-bottom: auto;
      }
      .firstrow-card-content-footer {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .closed {
          color: green;
          margin-bottom: auto;
        }
        .open {
          color: yellow;
          margin-bottom: auto;
        }
        .lost {
          color: red;
          margin-bottom: auto;
        }
        .footer-number {
          margin-bottom: auto;
        }
      }
    }
  }
  .secondrow-card-container {
    display: flex;
    justify-content: space-between;
    .first-card-container {
      margin-top: 20px;
      background-color: $light;
      width: 48%;
      height: 600px;
      .first-cardheader-container {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .promotion-select {
          border-color: $light;
          display: flex;
          cursor: pointer;
        }
        .date {
          color: blue;
          cursor: pointer;
        }
      }
      .underline {
        border: 1px solid $background;
      }
      .center-image {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
      }
      .footer-points-container {
        display: flex;
        justify-content: space-around;
        width: 45%;
        margin-left: 30%;
        .points-dot-blue {
          width: 10px;
          height: 10px;
          background-color: blue;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-green {
          width: 10px;
          height: 10px;
          background-color: green;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-red {
          width: 10px;
          height: 10px;
          background-color: red;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-yellow {
          width: 10px;
          height: 10px;
          background-color: yellow;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-skyblue {
          width: 10px;
          height: 10px;
          background-color: skyblue;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .point-content {
          font-size: 14px;
        }
      }
    }
    .second-card-container {
      margin-top: 20px;
      background-color: $light;
      width: 51%;
      .second-cardheader-container {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .promotion-select {
          border-color: $light;
          display: flex;
          cursor: pointer;
        }
        .date {
          color: blue;
          cursor: pointer;
        }
      }
      .underline {
        border: 1px solid $background;
      }
      .center-image {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
      }
      .footer-points-container {
        display: flex;
        justify-content: space-around;
        width: 42%;
        margin-left: 33%;
        .points-dot-blue {
          width: 10px;
          height: 10px;
          background-color: blue;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-green {
          width: 10px;
          height: 10px;
          background-color: green;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-red {
          width: 10px;
          height: 10px;
          background-color: red;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-yellow {
          width: 10px;
          height: 10px;
          background-color: yellow;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-skyblue {
          width: 10px;
          height: 10px;
          background-color: skyblue;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .points-dot-orange {
          width: 10px;
          height: 10px;
          background-color: orange;
          border-radius: 100%;
          margin-top: 10px;
          margin-right: 1%;
        }
        .point-content {
          font-size: 14px;
        }
      }
    }
  }
  .thirdrow-card-container {
    display: flex;
    justify-content: space-between;
    .firstcard-container {
      margin-top: 20px;
      background-color: $light;
      width: 48%;
      .firstcard-header-container {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        .promotion-select {
          border-color: $light;
          display: flex;
          cursor: pointer;
        }
      }
      .underline {
        border: 1px solid $background;
      }
      .card-body {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        .circle-container {
          text-align: center;
          .first-circle {
            width: 125px;
            height: 125px;
            background-color: orange;
            border-radius: 100%;
          }
          .second-circle {
            width: 125px;
            height: 125px;
            background-color: skyblue;
            border-radius: 100%;
          }
          .third-circle {
            width: 125px;
            height: 125px;
            background-color: green;
            border-radius: 100%;
          }
          .content-img {
            width: 20px;
            margin-top: 10px;
          }
          .content-text {
            margin-bottom: auto;
          }
        }
      }
      .footer-content {
        margin-top: auto;
        text-align: end;
        margin-right: 5%;
        cursor: pointer;
      }
    }
    .secondcards-container {
      margin-top: 20px;
      background-color: $light;
      width: 51%;
      .secondcard-content {
        width: 25%;
        .content-text {
          padding-left: 30px;
        }
        .underline {
          border: 1px solid $background;
        }
        .subcontent-container {
          text-align: center;
          .subimage {
            width: 20px;
          }
          .subcontent {
            margin-top: auto;
            font-size: 12px;
          }
        }
      }
    }
  }
  .forth-card-container {
    background-color: $light;
    .forthcard-content {
      display: flex;
      justify-content: space-between;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 2%;
      margin-top: 20px;
      .date {
        color: blue;
        cursor: pointer;
      }
    }
    .underline {
      border: 1px solid $background;
    }
    .table-header {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding-left: 3%;
      padding-right: 3%;
    }
    .underline {
      border: 1px solid $background;
    }
    .table-content {
      display: flex;
      justify-content: space-between;
      text-align: center;
      padding-right: 3%;
    }
  }
}
