.sidebar-container{
    width: 16%;
    padding-left: 10px;
    height: 100vh;
    position:sticky;
    top: 0%;
}
.logo{
    display: block;
    width: 50%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.account-container{
    border-radius: 15px;
    border: none;
    background-color:#a7a5a5bd ;
    width: 100%;
    height: 30px;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}
.account-name{
    margin-top: 5px;
}
.arrow-container{
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
.arrow-img{
    width:10px;
    height: 10px;
}
.search-container{
    margin-top: 10%;
    height: 30px;
    display: flex;
    padding: 5px;
}
.search-button{
    display: flex;
    width: 80%;
    background-color: #f0f1f2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.search-img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
.search-name{
    margin: 6px;
    margin-left: 8%;
}
.control-button{
    margin-left: 15%;
    margin-top: 4px;
    height: 20px;
    font-size: 10px;
    background-color: gray;
    border: none;
    border-radius: 5px;
}
.thunder-button{
    height: 30px;
    border-color:#f0f1f2 ;
    border-radius:5px ;
    border: none;
    cursor: pointer;
}
.thunder-img{
    width: 20px; 
    margin-top: 5px
}