.workflows{
    background-color: skyblue;
    cursor: pointer;
    width: 90%;
    border-radius: 5px;
}
.workflowsactived{
    cursor: pointer;
}
.draft{
    margin-left: 15%;
    cursor: pointer;
}
.draftactived{
    background-color: skyblue;
    cursor: pointer;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
    margin-top: 3%;
}


