.card-header-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f2f7fa;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 25px 50px 20px 30px;
  }
  
  .box {
    background-color: lightgrey;
    width: 131px;
    padding: 39px;
    height: 73px;
    margin-top: 0%;
    margin-left: 0%;
  }
  
  .button {
    width: 42%;
    border: 0px solid grey;
    height: 37px;
    border-radius: 5%;
  }
  .button-update {
    margin-top: 4%;
    width: 30%;
    height: 31px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
  }
  
  .box-two {
    background-color: #f0f8fe;
    margin-top: 5%;
    height: 50px;
    width: 61%;
    border-radius: 5px;
  }
  
  .check {
    /* width: 4%; */
    border: 0px solid grey;
  }
  .update {
    background-color: #37ca37 !important;
    margin-top: 3% !important;
  }
  .save {
    background-color: #37ca37 !important;
    margin-top: 8% !important;
  }
  .savemissed {
    margin-top: 4%;
    width: 42%;
    height: 42px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
  }
  
  .box-one {
    display: flex;
    justify-content: space-around;
    background-color: #eef2ff;
    width: 61%;
    border-radius: 5px;
    height: 56px;
  }
  
  .para {
    font-size: small;
    width: 35%;
    margin-left: 65%;
  
    color: grey;
  }