//Light colors
$primary--light: #6ddfd8;
$secondary--light: #04294b;

$primary-lightened: black;

$background--light: white;
$background-alt--light: #fcfcfc;

$inverter--light: 0;

$text--light: #000;

$frosted-light: #e4f6f4;

//Dark colors
$primary--dark: #6ddfd8;
$secondary--dark: #04294b;

$background--dark: black;
$background-alt--dark: black;

$inverter--dark: 1;

$text--dark: white;

$frosted-dark: #e4f6f4;

// navbar bg color

$navbar--bg--dark: #101820;
$chess-bg--dark: #a4e9f5;

/// carousel text color
$carousel_text_color: #ffe49e;

$carouser_bg: #ffc58c;

// grey text color
$text-grey--dark: grey;
